<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <th:block th:insert="~{blocks/bootstrap :: meta}"></th:block>
    <title>Waybane</title>
    <th:block th:insert="~{blocks/bootstrap :: css}"></th:block>
</head>
<body>
<th:block th:insert="~{blocks/bootstrap :: nav}"></th:block>
<div class="container text-center mt-3">


    <div th:if="${error}" th:text="${error}">Invalid data</div>

    <form method="post" action="/main" th:object="${link}">

        <textarea class="form-control" th:field="*{description}"
                  placeholder="Description for your link (optional)"
                  rows="7"></textarea><br>

        <input class="form-control" type="url" th:field="*{url}" placeholder="URL">
        <span th:if="${#fields.hasErrors('url')}"
              th:errors="*{url}"></span><br>

        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>

        <button class="btn btn-dark" type="submit">Shorten</button>

    </form>

    <br>

    <div class="row row-cols-1 row-cols-md-2 g-4 mb-3">
        <div th:each="link : ${links}">


            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{'/links/' + ${link.token}}">Statistics</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Edit</a>
                            </li>
                            <li class="nav-item">
                                <form method="post" th:action="@{'/links/' + ${link.token}}">
                                    <input type="hidden" name="_method" value="delete">
                                    <input class="nav-link" type="submit" value="Delete">
                                </form>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">

                        <h6 class="card-subtitle mb-2 text-muted" th:text="${link.url}">Card subtitle</h6>

                        <p class="card-text" th:text="${link.description}">Description</p>

                        <a th:href="@{${link.token}}" th:text="${'localhost:8080/' + link.token}"
                           class="card-link" target="_blank">Token</a>

                    </div>
                </div>
            </div>


        </div>
    </div>

    <div th:if="${links.getTotalPages() > 1}" th:insert="~{blocks/bootstrap :: pager(
    ${links.getNumber()},
    1,
    ${links.getNumber() + 1},
    ${links.getTotalPages()},
    ${links.getNumber() + 2}
    )}"></div>


</div>


<th:block th:insert="~{blocks/bootstrap :: js}"></th:block>
</body>
</html>